# Vagrant Files
.vagrant
vagrant/config.yml
*.box
__*

# Ansible
vagrant/provision/ansible/playbook-dev.yml
vagrant/provision/ansible/playbook.retry
vagrant/provision/ansible/playbook-dev.retry

# IDE
.idea
.idea/*
*.sublime*

# OS
Thumbs.db
.DS_Store
