server {
    listen 8501;
    root {{ srv_dir }}/tools/beanstalkd/public;

    index index.php;

    access_log off;
    error_log off;
    #access_log /var/log/nginx/beanstalk.access.log;
    #error_log /var/log/nginx/beanstalk.error.log notice;

    sendfile off;

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php-fpm-beanstalk;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        include fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_read_timeout 10;
    }
}
